<!doctype html>

<html lang="en" class="layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-skin="default"
    data-bs-theme="light" data-assets-path="/assets/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Dashboard - Bzz Co.</title>

    <meta name="description" content="" />

    <%- include("layout/header") %>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <%- include("layout/sidebar") %> 

            <div class="menu-mobile-toggler d-xl-none rounded-1">
                <a href="javascript:void(0);"
                    class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
                    <i class="ri ri-menu-line icon-base"></i>
                    <i class="ri ri-arrow-right-s-line icon-base"></i>
                </a>
            </div>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <%- include("layout/header") %> 

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Card Border Shadow -->

                        <div class="row g-6">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-md-6 order-2 order-md-1">
                                            <div class="card-body">
                                                <h4 class="card-title mb-4">Hi <span class="fw-bold">Admin!</span></h4>
                                                <p class="mb-0">This platform is in beta and may experience technical
                                                    issues.</p>
                                                <p>If you encounter any problems, please contact us. </p>
                                                <a href="javascript:;" class="btn btn-warning">Contact us</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center text-md-end order-1 order-md-2">
                                            <div class="card-body pb-0 px-0 pt-1_5">
                                                <img src="/assets/img/illustrations/illustration-john-light.png"
                                                    height="186" class="scaleX-n1-rtl" alt="View Profile"
                                                    data-app-light-img="illustrations/illustration-john-light.png"
                                                    data-app-dark-img="illustrations/illustration-john-dark.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="avatar me-4">
                                                <div class="avatar-initial bg-label-primary rounded-3">
                                                    <i class="icon-base ri ri-user-star-line icon-24px"> </i>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div class="d-flex align-items-center">
                                                    <h5 class="mb-0 me-2">8,458</h5>
                                                    <i class="icon-base ri ri-arrow-down-s-line text-danger"></i>
                                                    <small class="text-danger">8.10%</small>
                                                </div>
                                                <p class="mb-0">New Customers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="avatar me-4">
                                                <div class="avatar-initial bg-label-warning rounded-3">
                                                    <i class="icon-base ri ri-pie-chart-2-line icon-24px"></i>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div class="d-flex align-items-center">
                                                    <h5 class="mb-0 me-2">28.6k</h5>
                                                    <i class="icon-base ri ri-arrow-up-s-line text-success"></i>
                                                    <small class="text-success">25.8%</small>
                                                </div>
                                                <p class="mb-0">Total Revenue</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="avatar me-4">
                                                <div class="avatar-initial bg-label-info rounded-3">
                                                    <i class="icon-base ri ri-bank-card-line icon-24px"></i>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div class="d-flex align-items-center">
                                                    <h5 class="mb-0 me-2">13.6k</h5>
                                                    <i class="icon-base ri ri-arrow-down-s-line text-danger"></i>
                                                    <small class="text-danger">12.1%</small>
                                                </div>
                                                <p class="mb-0">New Transactions</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="avatar me-4">
                                                <div class="avatar-initial bg-label-success rounded-3">
                                                    <i class="icon-base ri ri-money-dollar-circle-line icon-24px"></i>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div class="d-flex align-items-center">
                                                    <h5 class="mb-0 me-2">2,856</h5>
                                                    <i class="icon-base ri ri-arrow-up-s-line text-success"></i>
                                                    <small class="text-success">54.6%</small>
                                                </div>
                                                <p class="mb-0">Total Profit</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-widget-separator-wrapper">
                                        <div class="card-body card-widget-separator">
                                            <div class="row gy-4 gy-sm-1">
                                                <div class="col-sm-6 col-lg-3">
                                                    <div
                                                        class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                                                        <div>
                                                            <h4 class="mb-0">24</h4>
                                                            <p class="mb-0">Sellers</p>
                                                        </div>
                                                        <div class="avatar me-sm-6">
                                                            <span class="avatar-initial rounded-3 bg-label-secondary">
                                                                <i
                                                                    class="icon-base ri ri-user-line text-heading icon-26px"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <hr class="d-none d-sm-block d-lg-none me-6" />
                                                </div>
                                                <div class="col-sm-6 col-lg-3">
                                                    <div
                                                        class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                                                        <div>
                                                            <h4 class="mb-0">165</h4>
                                                            <p class="mb-0">Invoices</p>
                                                        </div>
                                                        <div class="avatar me-lg-6">
                                                            <span class="avatar-initial rounded-3 bg-label-secondary">
                                                                <i
                                                                    class="icon-base ri ri-pages-line text-heading icon-26px"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <hr class="d-none d-sm-block d-lg-none" />
                                                </div>
                                                <div class="col-sm-6 col-lg-3">
                                                    <div
                                                        class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                                                        <div>
                                                            <h4 class="mb-0">$2.46k</h4>
                                                            <p class="mb-0">Paid</p>
                                                        </div>
                                                        <div class="avatar me-sm-6">
                                                            <span class="avatar-initial rounded-3 bg-label-secondary">
                                                                <i
                                                                    class="icon-base ri ri-wallet-line text-heading icon-26px"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="d-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="mb-0">$876</h4>
                                                            <p class="mb-0">Unpaid</p>
                                                        </div>
                                                        <div class="avatar">
                                                            <span class="avatar-initial rounded-3 bg-label-secondary">
                                                                <i
                                                                    class="icon-base ri ri-money-dollar-circle-line text-heading icon-26px"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <h5 class="card-header">Latest customers</h5>
                                    <div class="table-responsive text-nowrap">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>City</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                                <tr>
                                                    <td><span>Albert Cook</span>
                                                    </td>
                                                    <td>Amsterdam</td>

                                                    <td><span class="badge bg-label-success me-1">Active</span>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td><span>Albert Cook</span>
                                                    </td>
                                                    <td>Amsterdam</td>

                                                    <td><span class="badge bg-label-danger me-1">Inactive</span>
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <h5 class="card-header">Latest sellers</h5>
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-dark">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>City</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                                <tr>
                                                    <td><span>Albert Cook</span>
                                                    </td>
                                                    <td>Amsterdam</td>

                                                    <td><span class="badge bg-label-danger me-1">Inactive</span>
                                                    </td>



                                                </tr>

                                                <tr>
                                                    <td><span>Albert Cook</span>
                                                    </td>
                                                    <td>Amsterdam</td>

                                                    <td><span class="badge bg-label-success me-1">Active</span>
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>



                            <!--/ Card Border Shadow -->
                            <!-- Vehicles overview -->
                            
                            <!--/ Vehicles overview -->
                            <!-- Shipment statistics-->
                            
                            <!--/ Shipment statistics -->
                            <!-- Delivery Performance -->
                            
                            <!--/ Delivery Performance -->
                            <!-- Reasons for delivery exceptions -->
                            
                            <!--/ Reasons for delivery exceptions -->
                            <!-- Orders by Countries -->
                            
                            <!--/ Orders by Countries -->
                            <!-- On route vehicles Table -->
                            
                        </div>
                        <!--/ On route vehicles Table -->
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    <%- include("layout/footer") %> 
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->


    
</body>

</html>