<!doctype html>

<html lang="en" class="layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-skin="default"
    data-bs-theme="light" data-assets-path="/assets/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Products - Bzz Co.</title>

    <meta name="description" content="" />
    <%- include("layout/header") %>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <%- include("layout/sidebar") %>

            <div class="menu-mobile-toggler d-xl-none rounded-1">
                <a href="javascript:void(0);"
                    class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
                    <i class="ri ri-menu-line icon-base"></i>
                    <i class="ri ri-arrow-right-s-line icon-base"></i>
                </a>
            </div>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <%- include("layout/header") %>

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Product List Widget -->
                        <div class="card mb-6">
                            <div class="card-widget-separator-wrapper">
                                <div class="card-body card-widget-separator">
                                    <div class="row gy-4 gy-sm-1">
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                                                <div>
                                                    <p class="mb-1">In-store Sales</p>
                                                    <h4 class="mb-1">$5,345.43</h4>
                                                    <p class="mb-0">
                                                        <span class="me-2">5k orders</span><span
                                                            class="badge rounded-pill bg-label-success">+5.7%</span>
                                                    </p>
                                                </div>
                                                <div class="avatar me-sm-6">
                                                    <span class="avatar-initial rounded-3 text-heading">
                                                        <i class="icon-base ri ri-home-6-line icon-28px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr class="d-none d-sm-block d-lg-none me-6" />
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                                                <div>
                                                    <p class="mb-1">Website Sales</p>
                                                    <h4 class="mb-1">$674,347.12</h4>
                                                    <p class="mb-0">
                                                        <span class="me-2">21k orders</span><span
                                                            class="badge rounded-pill bg-label-success">+12.4%</span>
                                                    </p>
                                                </div>
                                                <div class="avatar me-lg-6">
                                                    <span class="avatar-initial rounded-3 text-heading">
                                                        <i class="icon-base ri ri-computer-line icon-28px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr class="d-none d-sm-block d-lg-none" />
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                                                <div>
                                                    <p class="mb-1">Discount</p>
                                                    <h4 class="mb-1">$14,235.12</h4>
                                                    <p class="mb-0">6k orders</p>
                                                </div>
                                                <div class="avatar me-sm-6">
                                                    <span class="avatar-initial rounded-3 text-heading">
                                                        <i class="icon-base ri ri-gift-line icon-28px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="d-flex justify-content-between align-items-start">
                                                <div>
                                                    <p class="mb-1">Affiliate</p>
                                                    <h4 class="mb-1">$8,345.23</h4>
                                                    <p class="mb-0">
                                                        <span class="me-2">150 orders</span><span
                                                            class="badge rounded-pill bg-label-danger">-3.5%</span>
                                                    </p>
                                                </div>
                                                <div class="avatar">
                                                    <span class="avatar-initial rounded-3 text-heading">
                                                        <i
                                                            class="icon-base ri ri-money-dollar-circle-line icon-28px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product List Table -->
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title mb-4">Filter</h5>
                                <div class="d-flex justify-content-between align-items-center row gap-5 gx-6 gap-md-0">
                                    <div class="col-md-4 product_status"></div>
                                    <div class="col-md-4 product_category"></div>
                                    <div class="col-md-4 product_stock"></div>
                                </div>
                            </div>
                            <div class="card-datatable table-responsive">
                                <table class="datatables-products table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>product</th>
                                            <th>category</th>
                                            <th>stock</th>
                                            <th>sku</th>
                                            <th>price</th>
                                            <th>qty</th>
                                            <th>status</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- / Content -->

                    <!-- Footer -->
                    <%- include("layout/footer") %>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
</body>

</html>